#navbar ul {
    display: flex;
    li {
        display: flex;
        padding: 7px;
        a {
            text-decoration: none;
            color: var(--white);
            padding: 7px;
            font-size: 2rem;
            &:hover {
                border: 1px solid var(--white);
                border-radius: 3px;
            }
        }
    }
}