@font-face {
    font-family: 'Marlboro';
    src: local("Marlboro"),
    url("./fonts/Marlboro.ttf") format("truetype");
}

:root {
    --teaGreen: rgba(195, 216, 163, 1);
    --lightYellow: rgb(230, 196, 123);
    --orange: rgba(226, 109, 84, 1);
    --mauve: rgba(114, 61, 70, 1);
    --maroon: rgba(71, 15, 1, 1);
    --maroonOP: rgba(16, 3, 3, 0.75);
    --lightGrey: rgb(188, 188, 188);
    --lightGreyOP: rgba(87, 87, 87, 0.5);
    --white: rgba(255, 255, 255);
    --boxShadowDark: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url(../src/images/background-texture-brick.jpg), var(--maroonOP); */
    background-color: var(--maroonOP);
    background-image: url(./images/background-texture-brick.jpg);
    background-blend-mode: multiply;
    color: var(--lightGrey);
    // font-family: 'Marlboro';
    letter-spacing: 0.07em;
}

